In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
import tensorflow as tf
from tensorflow import keras
from keras import layers

In [2]:
datos = pd.read_csv("C:\\Users\\crist\\Documents\\UNIVERSIDAD\\Semestre IX\\MachineLearning\\consignas\\RepoEntregaTres\\data_for_clean.csv",
                              delimiter= ",", decimal= ".")

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15682 entries, 0 to 15681
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           15682 non-null  int64
 1   age             15682 non-null  int64
 2   workclass       15682 non-null  object
 3   fnlwgt          15682 non-null  int64
 4   education       15682 non-null  object
 5   education_num   15682 non-null  int64
 6   marital_status  15682 non-null  object
 7   occupation      15682 non-null  object
 8   relationship    15682 non-null  object
 9   race            15682 non-null  object
 10  sex             15682 non-null  object
 11  capital_gain    15682 non-null  int64
 12  capital_loss    15682 non-null  int64
 13  hours_per_week  15682 non-null  int64
 14  native_country  15682 non-null  object
 15  income          15682 non-null  object
dtypes: int64(7), object(9)
memory usage: 1.9+ MB

In [5]:
pd.crosstab(datos.income, datos.workclass)

workclass,?,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
income,,,,,,,,,
<=50K,517,193,481,2,5625,152,582,285,4
>50K,191,371,617,0,4963,622,724,353,0