In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
import tensorflow as tf
from tensorflow import keras
from keras import layers

In [2]:
datos = pd.read_csv("C:\\Users\\crist\\Documents\\UNIVERSIDAD\\Semestre IX\\MachineLearning\\consignas\\RepoEntregaTres\\data_analisis.csv",
                              delimiter= ",", decimal= ".")

# 4. Data split Train/Test

# Train

In [13]:
df_entrenamiento = datos.sample(frac=0.8, random_state=0)

In [4]:
df_entrenamiento["income"].value_counts()

<=50K    6000
>50K     5974
Name: income, dtype: int64

# Test

In [10]:
df_pruebas = datos.drop(index=df_entrenamiento.index)

In [11]:
df_pruebas["income"].value_counts()

>50K     1510
<=50K    1484
Name: income, dtype: int64

# 5. Data inspect

In [12]:
df_stats_trainning = df_entrenamiento.describe()

In [13]:
df_entrenamiento.describe()

              index           age  hours_per_week
count  11974.000000  11974.000000    11974.000000
mean   14111.038500     40.104142       42.461500
std     9037.986584     12.302315       11.764334
min        6.000000     17.000000        1.000000
25%     5763.750000     31.000000       40.000000
50%    13902.500000     40.000000       40.000000
75%    22033.000000     49.000000       50.000000
max    30039.000000     77.000000       99.000000

# 7. Norm data

In [5]:
df_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11974 entries, 11966 to 10747
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           11974 non-null  int64
 1   age             11974 non-null  int64
 2   workclass       11974 non-null  object
 3   education       11974 non-null  object
 4   marital_status  11974 non-null  object
 5   occupation      11974 non-null  object
 6   relationship    11974 non-null  object
 7   race            11974 non-null  object
 8   sex             11974 non-null  object
 9   hours_per_week  11974 non-null  int64
 10  native_country  11974 non-null  object
 11  income          11974 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.2+ MB

In [9]:
nombre_columnas_categoricas = [
    "workclass",
    "education",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native_country",
    "income"
]

In [28]:
one_hot_encoder = OneHotEncoder(sparse=False)
one_hot_encoder.fit(df_entrenamiento[nombre_columnas_categoricas])
a = pd.DataFrame(one_hot_encoder.transform(df_entrenamiento[nombre_columnas_categoricas]), columns=one_hot_encoder.get_feature_names_out())
a.reset_index(drop=True, inplace=True)
b = df_entrenamiento.select_dtypes(np.number)
b.reset_index(drop=True, inplace=True)

nuevo_df_entrenamiento = pd.concat([b,a], axis=1)

c:\Users\crist\anaconda3\envs\machine\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [30]:
nuevo_df_entrenamiento.info()
nuevo_df_entrenamiento.to_csv('df_entrenamiento.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11974 entries, 0 to 11973
Columns: 102 entries, index to income_>50K
dtypes: float64(99), int64(3)
memory usage: 9.3 MB

# 6. Data split in/out

In [31]:
df_entrenamiento = pd.read_csv("C:\\Users\\crist\\Documents\\UNIVERSIDAD\\Semestre IX\\MachineLearning\\consignas\\RepoEntregaTres\\df_entrenamiento.csv",
                              delimiter= ",", decimal= ".")

# Train - Entrenamiento

In [35]:
entradas_df_entrenamiento = df_entrenamiento.iloc[:,1:102]
salida_df_entrenamiento = df_entrenamiento["income_<=50K"]

In [ ]:
entradas_df_entrenamiento.to_csv('entradas_df_entrenamiento.csv', index=False)
salida_df_entrenamiento.to_csv('salida_df_entrenamiento.csv', index=False)

# Test - Prueba

In [ ]:
#Pendiente es como en entrenamiento de arriba