In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

In [3]:
datos = pd.read_csv("C:\\Users\\crist\\Documents\\UNIVERSIDAD\\Semestre IX\\MachineLearning\\consignas\\RepoEntregaTres\\data_analisis.csv",
                              delimiter= ",", decimal= ".")

# 4. Data split Train/Test

# Train

In [4]:
df_entrenamiento = datos.sample(frac=0.8, random_state=0)

In [13]:
df_entrenamiento.to_csv('df_entrenamiento.csv', index=False)

In [5]:
df_entrenamiento["income"].value_counts()

<=50K    6000
>50K     5974
Name: income, dtype: int64

# Test

In [6]:
df_pruebas = datos.drop(index=df_entrenamiento.index)

In [7]:
df_pruebas.to_csv('df_pruebas.csv', index=False)

In [9]:
df_pruebas["income"].value_counts()

>50K     1510
<=50K    1484
Name: income, dtype: int64

# 5. Data inspect

In [17]:
df_entrenamiento.describe()

              index           age  hours_per_week
count  11974.000000  11974.000000    11974.000000
mean   14111.038500     40.104142       42.461500
std     9037.986584     12.302315       11.764334
min        6.000000     17.000000        1.000000
25%     5763.750000     31.000000       40.000000
50%    13902.500000     40.000000       40.000000
75%    22033.000000     49.000000       50.000000
max    30039.000000     77.000000       99.000000

In [18]:
df_pruebas.describe()

              index          age  hours_per_week
count   2994.000000  2994.000000     2994.000000
mean   14132.551102    40.126921       42.726453
std     9074.030531    12.276002       12.092982
min        4.000000    17.000000        1.000000
25%     5865.250000    31.000000       40.000000
50%    13987.500000    39.000000       40.000000
75%    22066.000000    49.000000       50.000000
max    30040.000000    77.000000       99.000000

# 7. Norm data

In [19]:
df_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11974 entries, 11966 to 10747
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           11974 non-null  int64
 1   age             11974 non-null  int64
 2   workclass       11974 non-null  object
 3   education       11974 non-null  object
 4   marital_status  11974 non-null  object
 5   occupation      11974 non-null  object
 6   relationship    11974 non-null  object
 7   race            11974 non-null  object
 8   sex             11974 non-null  object
 9   hours_per_week  11974 non-null  int64
 10  native_country  11974 non-null  object
 11  income          11974 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.2+ MB

In [11]:
nombre_columnas_categoricas = [
    "workclass",
    "education",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native_country",
    "income"
]

Instancia del codificador para hacer variables dummys, entrenamiento y pruebas

In [12]:
one_hot_encoder = OneHotEncoder(sparse=False)
one_hot_encoder.fit(df_entrenamiento[nombre_columnas_categoricas])

c:\Users\crist\anaconda3\envs\machine\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(sparse=False, sparse_output=False)

In [13]:
a_entrenamiento = pd.DataFrame(one_hot_encoder.transform(df_entrenamiento[nombre_columnas_categoricas]), columns=one_hot_encoder.get_feature_names_out())
a_entrenamiento.reset_index(drop=True, inplace=True)
b_entrenamiento = df_entrenamiento.select_dtypes(np.number)
b_entrenamiento.reset_index(drop=True, inplace=True)

nuevo_df_entrenamiento = pd.concat([b_entrenamiento,a_entrenamiento], axis=1)

In [ ]:
nuevo_df_entrenamiento.info()

In [9]:
a_pruebas = pd.DataFrame(one_hot_encoder.transform(df_pruebas[nombre_columnas_categoricas]), columns=one_hot_encoder.get_feature_names_out())
a_pruebas.reset_index(drop=True, inplace=True)
b_pruebas = df_pruebas.select_dtypes(np.number)
b_pruebas.reset_index(drop=True, inplace=True)

nuevo_df_pruebas = pd.concat([b_pruebas,a_pruebas], axis=1)

In [ ]:
nuevo_df_pruebas.info()

Ahora vamos a normalizar usando la misma instancia para entrenamiento y pruebas

# 6. Data split input/output

In [33]:
entradas_df_entrenamiento = nuevo_df_entrenamiento.loc[:,[
                                                            'education_10th',
                                                            'education_11th',
                                                            'education_12th',
                                                            'education_1st-4th',
                                                            'education_5th-6th',
                                                            'education_7th-8th',
                                                            'education_9th',
                                                            'education_Assoc-acdm',
                                                            'education_Assoc-voc',
                                                            'education_Bachelors',
                                                            'education_Doctorate',
                                                            'education_HS-grad',
                                                            'education_Masters',
                                                            'education_Preschool',
                                                            'education_Prof-school',
                                                            'education_Some-college',
                                                            'race_Amer-Indian-Eskimo',
                                                            'race_Asian-Pac-Islander',
                                                            'race_Black',
                                                            'race_Other',
                                                            'race_White',
                                                            'age',
                                                            'hours_per_week'
                                                        ]]

In [ ]:
min_max_scaler = MinMaxScaler()
min_max_scaler.fit(entradas_df_entrenamiento)

In [35]:
df_norm_entrenamiento = min_max_scaler.transform(entradas_df_entrenamiento)
df_norm_entrenamiento = pd.DataFrame(df_norm_entrenamiento, columns=entradas_df_entrenamiento.columns)

In [16]:
entradas_web = pd.read_csv("C:/Users/crist/Documents/UNIVERSIDAD/Semestre IX/MachineLearning/consignas/RepoEntregaTres/dataset_salariosLimpio.csv",
                        delimiter= ",", decimal= ".")
nuevo_df_num = entradas_web.loc[:,['age','hours_per_week']]

In [17]:
z = [30.0, 70.0]
inputAsArray = np.asarray(z)
reshape = inputAsArray.reshape(1,-1)
min_max_scaler = MinMaxScaler()
min_max_scaler.fit(nuevo_df_num)
df_norm_input = min_max_scaler.transform(reshape)
df_norm_input = pd.DataFrame(df_norm_input, columns=nuevo_df_num.columns)

c:\Users\crist\anaconda3\envs\machine\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [20]:
entradas_web = pd.read_csv("C:/Users/crist/Documents/UNIVERSIDAD/Semestre IX/MachineLearning/consignas/RepoEntregaTres/df_pruebas.csv",
                        delimiter= ",", decimal= ".")
entradas_web_cat = pd.read_csv("C:/Users/crist/Documents/UNIVERSIDAD/Semestre IX/MachineLearning/consignas/RepoEntregaTres/entradas_df_norm_pruebas.csv",
                    delimiter= ",", decimal= ".")
df_cat = entradas_web_cat.iloc[:,0:21]
nuevo_df_num = entradas_web.loc[:,['age','hours_per_week']]
listado_num = [30.0, 70.0]
input_array_num = np.asarray(listado_num)
reshape_num = input_array_num.reshape(1,-1)

min_max_scaler = MinMaxScaler()
min_max_scaler.fit(nuevo_df_num)
df_norm_input = min_max_scaler.transform(reshape_num)
df_norm_input = pd.DataFrame(df_norm_input, columns=nuevo_df_num.columns)

inputData = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
input_array_cat = np.asarray(inputData)
reshape_cat = input_array_cat.reshape(1,-1)
df_norm_cat = pd.DataFrame(reshape_cat, columns=df_cat.columns)

df_final = pd.concat([df_norm_cat,df_norm_input], axis=1)

c:\Users\crist\anaconda3\envs\machine\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [40]:
df_norm_entrenamiento.to_csv('entradas_df_norm_entrenamiento.csv', index=False)

Salida

In [43]:
salida_df_entrenamiento = nuevo_df_entrenamiento["income_<=50K"]

In [45]:
salida_df_entrenamiento.to_csv('salida_df_entrenamiento.csv', index=False)

Parte pruebas

In [37]:
entradas_df_pruebas = nuevo_df_pruebas.loc[:,[
                                                'education_10th',
                                                'education_11th',
                                                'education_12th',
                                                'education_1st-4th',
                                                'education_5th-6th',
                                                'education_7th-8th',
                                                'education_9th',
                                                'education_Assoc-acdm',
                                                'education_Assoc-voc',
                                                'education_Bachelors',
                                                'education_Doctorate',
                                                'education_HS-grad',
                                                'education_Masters',
                                                'education_Preschool',
                                                'education_Prof-school',
                                                'education_Some-college',
                                                'race_Amer-Indian-Eskimo',
                                                'race_Asian-Pac-Islander',
                                                'race_Black',
                                                'race_Other',
                                                'race_White',
                                                'age',
                                                'hours_per_week'
                                            ]]

In [38]:
df_norm_pruebas = min_max_scaler.transform(entradas_df_pruebas)
df_norm_pruebas = pd.DataFrame(df_norm_pruebas, columns=entradas_df_pruebas.columns)

In [41]:
df_norm_pruebas.to_csv('entradas_df_norm_pruebas.csv', index=False)

Salida

In [ ]:
salida_df_pruebas = nuevo_df_pruebas["income_<=50K"]

In [ ]:
salida_df_pruebas.to_csv('salida_df_pruebas.csv', index=False)